.ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    overflow: hidden;
    z-index: 1;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon::before {
    top: 0;
    right: 0;
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon::after {
    bottom: 0;
    left: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 100px;
    padding: 8px 0;
    background-color: #2980b9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
    left: -25px;
    top: 20px;
    transform: rotate(-45deg);
}
